<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="style/reset.css")
        link(rel="stylesheet", href="style/style.css")
        title Homepage
    body
        header.header
            .header__content
                .header__logo
                    img(src="img/logo.png", alt="logo")
                    p HOSTING
                .header__autorization
                    p Support:
                        span info@webhosting.com
                    button Register
                    button Login
            nav
                a(href="") HOME
                a(href="") ABOUT US
                a(href="") SERVICE
                a(href="") HOSTING PLANS
                a(href="") DOMAIN
                a(href="") FAQ
                a(href="") TESTIMONIALS
                a(href="") BLOG
                a(href="") SUPPORT
                a(href="") COUNTACT US
        .carousel
            .carousel__buttons
                button Left
                button Right
            .carousel__text
                h2 AWESOME HOSTING
                p WITH UNLIMITED FEATURES
            .carousel__pages
                button 1
                button 2
                button 3
        .search
            .search__text
                img(src="", alt="search")
                p SEARCH YOUR
                p DOMAIN
            form(action="")
                input(type="text" placeholder="Enter your domain name")
                input(type="text" placeholder='Year (0-1 year)')
                input(type="text" placeholder='.com')
                button SEARCH
        .about
            .about__benefits
                p OUR
                p BENEFITS
            .about__statistics
                .about__uptime
                    img(src="", alt="uptime")
                    p 99.9% UPTIME
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum laborum tempore neque alias, nisi suscipit, consequuntur sequi, magni obcaecati magnam corporis quas amet itaque. Excepturi dolore odit quae corporis animi.
                .about__support
                    img(src="", alt="support")
                    p 24/7/365 SUPPORT
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum facere totam explicabo nihil est iste adipisci consequatur sint reiciendis quasi non quaerat temporibus, quia, repellendus, alias vitae numquam excepturi amet.
                .about__protect
                    img(src="", alt="protect")
                    p PROTECT YOUR PC
                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum quam ullam, natus impedit laudantium nobis error rem hic perferendis unde ratione sint, numquam harum fugiat quaerat aspernatur, minima nesciunt dolore?
                .about__dns
                    img(src="", alt="dns")
                    p DNS CONTROL
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi sed quod corrupti ratione? Praesentium adipisci necessitatibus porro asperiores, soluta sunt cumque placeat atque aliquam itaque, laborum ratione ipsam dolorem optio.
                .about__transfer
                    img(src="", alt="transfer")
                    p DOMAIN TRANSFER
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere odit nihil tempora ullam quo reiciendis eius enim dolorum est veritatis optio ad, nobis architecto accusamus tempore dolorem possimus quis obcaecati.
                .about__security
                    img(src="", alt="security")
                    p 100% SECURITY
                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia, suscipit in? Laborum molestias dolores maxime aliquam enim ducimus distinctio nostrum expedita natus, obcaecati eligendi quasi eius voluptatem inventore, iusto repellat.
        .hot
            .hot__now
                p NOW
                h3 WHAT IS HOT
                img(src="", alt="what is hot")
            .hot__features
                p OUR
                h3 FEATURES
                ul
                    li Lorem ipsum dolor
                    li Lorem ipsum dolor
                    li Lorem ipsum dolor
                    li Lorem ipsum dolor
                    li Lorem ipsum dolor
                    li Lorem ipsum dolor
                    li Lorem ipsum dolor
                    li Lorem ipsum dolor
            button VIEW ALL
        .price
            .price__item
                p $5
                p PER MONTH
                p STANDART PLAN
                ul
                    li 10GB Disk Space
                    li 1TB Bandwidth
                    li Free DDoS Protection
                    li Free Daily Backups
                    li Manged Hosting
                button SINGUP
            .price__item
                p $6
                p PER MONTH
                p ADVENCED PLAN
                ul
                    li 10GB Disk Space
                    li 1TB Bandwidth
                    li Free DDoS Protection
                    li Free Daily Backups
                    li Manged Hosting
                button SINGUP
            .price__item
                p $8
                p PER MONTH
                p BUSINES PLAN
                ul
                    li 10GB Disk Space
                    li 1TB Bandwidth
                    li Free DDoS Protection
                    li Free Daily Backups
                    li Manged Hosting
                button SINGUP
            .price__item
                p $9
                p PER MONTH
                p GOLD PLAN
                ul
                    li 10GB Disk Space
                    li 1TB Bandwidth
                    li Free DDoS Protection
                    li Free Daily Backups
                    li Manged Hosting
                button SINGUP
        .newsletter
            .newsletter__title
                img(src="", alt="")
                p SING UP YOUR
                h3 NEWSLETTER
            form(action="")
                input(type="text")
                button
        footer.footer
            .footer__logo
                img(src="", alt="")
                p HOSTING
                p 2015 © Allright Reserved
            .footer__links
                a(href="") Home
                a(href="") About us
                a(href="") Service
                a(href="") Hosting plans
                a(href="") Domains
                a(href="") Faq
                a(href="") Blog
                a(href="") Support
                a(href="") Contact
            .footer__contact
                p 
                    span Address:
                    | 9876 Iipsum text here
                p There are many variations
                p
                    span Email: 
                    | info@hosting.com
                p
                    span Call:
                    | +87 7765 557 888
            .footer__social
                a(href="")
                a(href="")
                a(href="")
                a(href="")


                

            
            