<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="style/style.css")
        title Homepage
    body
        header.header
            .header__content
                img.header__logo(src="", alt="logo")
                .header__autorization
                    p Support:
                        span info@webhosting.com
                    button Register
                    button Login
            nav
                a(href="") HOME
                a(href="") ABOUT US
                a(href="") SERVICE
                a(href="") HOSTING PLANS
                a(href="") DOMAIN
                a(href="") FAQ
                a(href="") TESTIMONIALS
                a(href="") BLOG
                a(href="") SUPPORT
                a(href="") COUNTACT US
        .carousel
            .carousel__buttons
                button Left
                button Right
            .carousel__text
                h2 AWESOME HOSTING
                p WITH UNLIMITED FEATURES
            .carousel__pages
                button 1
                button 2
                button 3
        .search
            .search__text
                img(src="", alt="search")
                p SEARCH YOUR
                p DOMAIN
            form(action="")
                input(type="text" placeholder="Enter your domain name")
                input(type="text" placeholder='Year (0-1 year)')
                input(type="text" placeholder='.com')
                button SEARCH
        .about
            .about__benefits
                p OUR
                p BENEFITS
            .about__statistics
                .about__uptime
                    img(src="", alt="uptime")
                    p 99.9% UPTIME
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum laborum tempore neque alias, nisi suscipit, consequuntur sequi, magni obcaecati magnam corporis quas amet itaque. Excepturi dolore odit quae corporis animi.

                

            
            