<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
        link(rel="stylesheet", href="style/reset.css")
        link(rel="stylesheet", href="style/style.css")
        title Homepage
    body
        header.header.container
            .header__content
                .header__logo
                    img(src="img/logo.png", alt="logo")
                    p HOSTING
                .header__autorization
                    p Support:
                        span info@webhosting.com
                    button Register
                    button Login
            nav
                a(href="") HOME
                a(href="") ABOUT US
                a(href="") SERVICE
                a(href="") HOSTING PLANS
                a(href="") DOMAIN
                a(href="") FAQ
                a(href="") TESTIMONIALS
                a(href="") BLOG
                a(href="") SUPPORT
                a(href="") COUNTACT US
        .carousel
            .carousel__title
                img(src="img/carousel.png", alt="carousel")
                .carousel__buttons
                    button Left
                    button Right
            .carousel__text
                h2 AWESOME HOSTING
                p WITH UNLIMITED FEATURES
            .carousel__pages
                button 1
                button 2
                button 3
        .search
            .container
                .row.search__contant
                    .search__text
                        img(src="img/search.png", alt="search")
                        p SEARCH YOUR
                        p DOMAIN
                    form(action="").search__form
                        input(type="text" placeholder="Enter your domain name")
                        input(type="text" placeholder='Year (0-1 year)')
                        input(type="text" placeholder='.com')
                        button SEARCH
        .about
            .container
                .about__contant
                    .about__benefits
                        p OUR
                        p BENEFITS
                    .about__statistics.row
                        .about__data.col-sm-4.col-md-4
                            img(src="img/uptime.png", alt="uptime")
                            .about__text
                                p 99.9% UPTIME
                                p Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        .about__data.col-sm-4.col-md-4
                            img(src="img/support.png", alt="support")
                            .about__text
                                p 24/7/365 SUPPORT
                                p Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                        .about__data.col-sm-4.col-md-4
                            img(src="img/protect.png", alt="protect")
                            .about__text
                                p PROTECT YOUR PC
                                p Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    .about__statistics.row
                        .about__data.col-sm-4.col-md-4
                            img(src="img/dns.png", alt="dns")
                            .about__text
                                p DNS CONTROL
                                p Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        .about__data.col-sm-4.col-md-4
                            img(src="img/transfer.png", alt="transfer")
                            .about__text
                                p DOMAIN TRANSFER
                                p Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        .about__data.col-sm-4.col-md-4
                            img(src="img/security.png", alt="security")
                            .about__text
                                p 100% SECURITY
                                p Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        .hot
            .container
                .row
                    .hot__now.col-sm-5.col-md-5
                        p NOW
                        h3 WHAT IS HOT
                        img(src="", alt="what is hot")
                    .hot__features.col-sm-5.col-md-5
                        p OUR
                        h3 FEATURES
                        ul
                            li Lorem ipsum dolor
                            li Lorem ipsum dolor
                            li Lorem ipsum dolor
                            li Lorem ipsum dolor
                        ul
                            li Lorem ipsum dolor
                            li Lorem ipsum dolor
                            li Lorem ipsum dolor
                            li Lorem ipsum dolor
                    button.col-sm-2.col-md-2 VIEW ALL
        .price
            .price__item
                p $5
                p PER MONTH
                p STANDART PLAN
                ul
                    li 10GB Disk Space
                    li 1TB Bandwidth
                    li Free DDoS Protection
                    li Free Daily Backups
                    li Manged Hosting
                button SINGUP
            .price__item
                p $6
                p PER MONTH
                p ADVENCED PLAN
                ul
                    li 10GB Disk Space
                    li 1TB Bandwidth
                    li Free DDoS Protection
                    li Free Daily Backups
                    li Manged Hosting
                button SINGUP
            .price__item
                p $8
                p PER MONTH
                p BUSINES PLAN
                ul
                    li 10GB Disk Space
                    li 1TB Bandwidth
                    li Free DDoS Protection
                    li Free Daily Backups
                    li Manged Hosting
                button SINGUP
            .price__item
                p $9
                p PER MONTH
                p GOLD PLAN
                ul
                    li 10GB Disk Space
                    li 1TB Bandwidth
                    li Free DDoS Protection
                    li Free Daily Backups
                    li Manged Hosting
                button SINGUP
        .newsletter
            .newsletter__title
                img(src="", alt="")
                p SING UP YOUR
                h3 NEWSLETTER
            form(action="")
                input(type="text")
                button
        footer.footer
            .footer__logo
                img(src="", alt="")
                p HOSTING
                p 2015 © Allright Reserved
            .footer__links
                a(href="") Home
                a(href="") About us
                a(href="") Service
                a(href="") Hosting plans
                a(href="") Domains
                a(href="") Faq
                a(href="") Blog
                a(href="") Support
                a(href="") Contact
            .footer__contact
                p 
                    span Address:
                    | 9876 Iipsum text here
                p There are many variations
                p
                    span Email: 
                    | info@hosting.com
                p
                    span Call:
                    | +87 7765 557 888
            .footer__social
                a(href="")
                a(href="")
                a(href="")
                a(href="")


                

            
            