/* colors for my website */
$orange: #ff8261;
$blue: #52cbf8;
$bg-carousel: #222836;
$bg-search: #e7f4f8;
$white: #ffffff;
$bg-hot: #fffbde;
$bg-footer: #4c515b;

.header {

    display: flex;
    flex-flow: column;
    align-items: center;

    &__content {
        display: flex;
        flex-flow: row;
        justify-content: space-around;
        width: 100%
    }

    nav {
        height: 56px;
        background: $orange;
        display: flex;
        flex-flow: row;
        align-items: center;
        a {
            margin: 0 15px;
            font-size: 13pt;
            color: $white;
        }
    }
}
