/* colors for my website */
$orange: #ff8261;
$blue: #52cbf8;
$bg-carousel: #222836;
$bg-search: #e7f4f8;
$white: #ffffff;
$bg-hot: #fffbde;
$bg-footer: #4c515b;

.header {

    nav {
        height: 56px;
    }
}
